h1 {
color: white;
background-color: black;
}

.done {
  /*color: blue;*/
  background-color: lightgray;
  text-decoration: line-through;
  color: green;
}

.regular {
  color: red;
}

table, tr, th, td {
    border: 1px solid black;
