h1 {
color: white;
background-color: black;
}

.done {
  margin-right: 70em;
  margin-top: .3em;
  margin-bottom: .3em;
  text-indent: 1em;
  color: white;
  background-color: black;
  opacity: .4;
  text-decoration: line-through;

}

.regular {
  margin-right: 70em;
  text-indent: 1em;
  margin-top: .3em;
  margin-bottom: .3em;
  color: white;
  background-color: black;
}

table, tr, th, td {
    border: 1px solid black;
}

#btnDone {
  margin-left: 3em;
}

#pass_input {
  margin-left: 3em;
}
